<section id="topbar" class="bg-stone-100 py-5">
	<div class="container mx-auto">
		<div class="swiper topbar">
			<div class="swiper-wrapper">
				{% for block in section.blocks %}
					<div class="swiper-slide">
						{{ block.settings.message_topbar | replace: '<p', '<p class="text-center text-sm uppercase"' }}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>

<script>
	const swiperTopbar = new Swiper('.swiper.topbar', {
		// Optional parameters
		direction: 'horizontal',
		loop: true,
		slidesPerView: 1,
		autoplay: {
			delay: 3000,
		},
		effect: 'fade',
		fadeEffect: {
			crossFade: true,
		},
	});
</script>

{% schema %}
{
	"name": "Topbar",
	"settings": [],
	"blocks": [
		{
			"type": "message",
			"name": "Message Topbar",
			"settings": [
				{
					"type": "richtext",
					"id": "message_topbar",
					"label": "Message",
					"default": "<p>FREE SHIPPING for Hurley Rewards Club Members Only  |  Join now</p>"
				}
			]
		}
	]
}
{% endschema %}
